/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

h2 {
    text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.col-centered {
    float:none;
    margin: 0 auto;
}

header {
    position: fixed;
    z-index: 9;
    background: #ccc;
}

.ResultContainer {
    height: auto;
}

.ResultHeader {
    color: #fff;
}

p {
    margin-bottom: 0 !important;
}

.ResultHeader .left {
    padding: 10px 0px 10px 1em;
}

.ResultHeader .right p {
    padding-top: 6%;
    text-align: right;
}

.debit {
    color: red;
}

.credit {
    color: green;
}

.remove-padding {
    padding: 0;
}

.ResultHeader {
    background-color: #9ACEFA;
    color: #000;
}

.months-list {
    margin-top: 20px;
    text-align: center;
}
.tab-btn-container {
    margin-bottom: 45%;
}

.tab-btn {
    margin-top: 7%;
}

.months-list .selected {
    background: darkgray;
}

.tab-btn .selected {
    background: #9ACEFA;
}

.anychart-credits {
    display: none;
}

.anychart-credits-text {
    display: none;
}

.hidden {
    display: none;
}

.home-container {
    text-align: center;
    margin-top: 1%;
    animation: pusate 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;
    padding: 30px;
}

.btn-danger {
    border: 0;
}

.btn-container button {
    border-radius: 5px;
    padding: 10px 5px;
}

.tab-btn-container button {
    background-color: darkblue;
    color: #fff;
    border: 0;
    padding: 20px 10px;
    width: 100%;
}

.file-example iframe {
    height: 100%;
    min-height: 230px;
}


.Home p {
    text-align: center;
}

.Home .top-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.file-example p {
    margin-top: 3%;
}


@-webkit-keyframes pusate {
    from {
        box-shadow: 0 0 5px #9ACEFA;
    }

    to {
        box-shadow: 0 0 10px darkblue;
    }
}

@-moz-keyframes pusate {
    from {
        box-shadow: 0 0 5px #9ACEFA;
    }

    to {
        box-shadow: 0 0 10px darkblue;
    }
}

@keyframes pusate {
    from {
        box-shadow: 0 0 5px #9ACEFA;
    }

    to {
        box-shadow: 0 0 10px darkblue;
    }
}